.addColumnContainer {
    width: 350px;
    background-color: #e3e4e6;
    border-radius: 6px;
    padding: 12px 11px;
}

.addColumnTitle {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    column-gap: 10px;
    font-size: 18px;
    line-height: 20px;
    color: #646a7a;
    cursor: pointer;
}

.addColumnIcon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(./images/plus.svg);
}