.board {
    width: 350px;
    border: 1px solid #00000071;
    border-radius: 6px;
    background-color: #e3e4e6;
    padding: 7px 10px;
    text-align: left;
}

.board-title {
    margin: 20px 0;
}

.board-items {
    display: flex;
    flex-direction: column;
    padding-top: 4px;
    width: 250px;
    min-height: 50px;
    width: 100%;
}